{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %} 
<a class="btn btn-dark" href="{{ path('app_homepage') }}">Go to Homepage</a>
<a class="btn btn-dark" href="{{ path('feed') }}">Go back to the Feed</a>
<div class="container">
    <h1>Manage Categories</h1>
    <div class="categories-manager">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary" value="Add Category"/>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
