{% extends 'base.html.twig' %}

{% block title %}New{% endblock %}

{% block body %}
<a class="btn btn-dark" href="{{ path('feed') }}">Go back to the feed</a>
<div class="container">
    
    <h1>Create a new post</h1>
    <div class="form-container">      
            <div class="form">
                
                {{ form_start(form) }}
                
                {{ form_row(form.title,{"attr":{"class":"form-control","data-id":"12354"}}) }}
                {{ form_row(form.description,{"attr":{"class":"form-control","data-id":"12354"}}) }}
                {{ form_row(form.categories) }} 
               
               {{ form_label(form.image) }}
                <ul class="images"   data-prototype="{{ form_widget(form.image.vars.prototype)|e('html_attr') }}">
                
                {% for uploadImage in form.image %}
                        <li>
                        {{ form_errors(uploadImage) }}
                        {{ form_widget(uploadImage) }}
                        </li>
                {% endfor %}
                </ul>
                <input type="submit" class="btn btn-primary" value="post"/>
                {{ form_end(form) }}
              
            </div>
    </div>
</div>


{% endblock %}
